.loader-wrapper {
  width: 100%;
  height: 90vh;
}

.img {
  display: flex;
  width: 120px;
  animation: spin .9s ease-in-out infinite;
  color: white;
  margin: 30vh 46vw;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

