.container{
  background-color: #14191F;
  text-align: center;
  height: 100vh;
}
.buttonDownload{
  margin: 30vh 46vw;
  background-color: #3a78ec; /* Green */
  border: 3px solid #3a7999;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  font-family: Verdana, sans-serif;
  opacity: 0.8;
  user-select: none;
  align-self: center;
}

.buttonDownload:hover {
  opacity: 1
}